body {
  background-color: linen;
}

hr {
  border: none;
  border-top: 4px solid black;
  color: black;
  background-color: linen;
  height: 4px;
  width: 99%;
}

h1 {
  color: gray;
}
#FrontName {
  font-size: 50px;
}

h3 {
  color: gray;
}

/* Used in IDs (#) and Class (.) to change a selected group defined in the html code

#ProfilePic {
  background-color:gray;
}

*/

.link:hover {
  color: Red;
}
