body {
  background-color: linen;
}

hr {
  border: none;
  border-top: 4px solid black;
  color: black;
  background-color: linen;
  height: 4px;
  width: 99%;
}

h1 {
  color: gray;
}

h3 {
  color: gray;
}
